.hero {
  /* border: 1px solid black; */
  background: url(hero.jpg);
  background-size: cover;
  background-position: center 0;

  min-height: 900px;
  /* height: auto; */

}

.hero h1 {
  font-family: 'Maven Pro', sans-serif;
  font-size: 700;
  color: #37323e;
  padding-top: 100px;
  /* padding-bottom: 25px; */
}

.hero p {
  color: #6d6a75;
}

.b {
  border: 1px solid black;
}

.text-pumpkin {
  color: #ff7f11;
  font-weight: bold;
}

/*  per https://stackoverflow.com/questions/46697652/changing-color-of-bootstrap-button */
/*  https://pinetools.com/darken-color */
.btn-primary {
  color: #fff;
  background-color: #ff7f11;
  border-color: #ff7f11;
}

.btn-primary:hover {
  color: #fff;
  background-color: #e86b00;
  border-color: #d96400;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(255, 127, 17, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #ff7f11;
  border-color: #ff7f11;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #e86b00;
  background-image: none;
  border-color: #d96400;
}
